

body {

background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
/* width:80%;
margin-right: 10%;
margin-left:10%; */

}
h1,h2,h3,h4,h6{
font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;


}

h1 {
text-align:center;}

ul {
list-style-type: none;

}
.quoter{
font-family:'Lora', serif;
float:right;
font-style:italic;
font-size:16px;
margin-top:40px;


}
.navbar-default .navbar-nav > li > a  {
color:white;
}
a:hover,a:focus{
color:grey}

hr.small{
max-width:100px;
margin:15px auto;
border-width:4px;
border-color:#222;}



/* -------------------------------header----------------------- */
/* i NAPIS NA OBRAZKU*/


.intro-header{
background-image:url("../img/sunflo2.jpg");
height: 400px;
background-repeat: no-repeat;
background-size: cover;
background-attachment:scroll;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover;

}

.intro-header .site-heading{
background-color:rgba(255,255,255,0.3);
padding:70px 0 50px;
color:#065620}

@media only screen and (min-width:768px){
.intro-header .site-heading{
padding:150px 0}
}

.intro-header .site-heading {
text-align:center
}
.intro-header .site-heading h1{
margin-top:0;
font-weight:700;
font-size:40px;
/* color:#065620; */
color:rgba(6, 86, 32, 0.9);
/* font-family: 'Sarala', sans-serif; */
font-family: 'Montserrat', sans-serif;
text-shadow: 3px 3px rgba(255,255,255,0.2);
line-height: 75px;

}

@media only screen and (min-width:768px){
.intro-header .site-heading h1{
font-size:70px;}
}



.intro-header .site-heading .subheading {
color:white;
display:block;
/* font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; */
font-family: 'Droid Serif', serif;
font-size: 30px;
font-style: italic;
line-height: 40px;

margin:10px 0 0}


/* ---------------------------menu-------------------------- */



.navbar-custom{
background-color: #065620;
position:absolute;
top:0;
left:0;
width:100%;
z-index:3;
font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif}

.navbar-custom .navbar-brand{
font-weight:800}

.navbar-custom .nav li a{
text-transform:uppercase;
font-size:12px;
font-weight:800;
letter-spacing:1px}

@media only screen and (min-width:768px){
.navbar-custom{
/* background:0 0; */
border-bottom:1px solid transparent}

.navbar-custom .navbar-brand{
/* color:#fff; */
padding:20px}

.navbar-custom .navbar-brand:hover,.navbar-custom .navbar-brand:focus{
color:rgba(255,255,255,.8)}
.navbar-custom .nav li a{
/* color:#fff; */
padding:20px}
.navbar-custom .nav li a:hover,.navbar-custom .nav li a:focus{
color:rgba(255,255,255,.8)}}

@media only screen and (min-width:1170px){

.navbar-custom{-webkit-transition:background-color .3s;-moz-transition:background-color .3s;transition:background-color .3s;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}

.navbar-custom.is-fixed{
position:fixed;
top:-61px;
background-color:#065620;
border-bottom:1px;-webkit-transition:-webkit-transform .3s;-moz-transition:-moz-transform .3s;transition:transform .3s}

.navbar-custom.is-fixed .navbar-brand{
color:#d2d2d2}

.navbar-custom.is-fixed .navbar-brand:hover,.navbar-custom.is-fixed .navbar-brand:focus{
color:#0085a1}

.navbar-custom.is-fixed .nav li a{
color:#d2d2d2}
.navbar-custom.is-fixed .nav li a:hover,.navbar-custom.is-fixed .nav li a:focus{
color:#0085a1}

.navbar-custom.is-visible{-webkit-transform:translate3d(0,100%,0);-moz-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);-o-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}}







/* ---------------------------sajdbarek-------------- */
/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
	padding-bottom:100px;
/*     overflow-y: auto; */
	overflow:visible;
    background: #065620; /*  ----zieleñ dzia³kowa:)--- */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */




.sidebar-nav {
    position: absolute;
	background: #065620;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
	
	
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
	font-weight:600;
	font-size:16px;
	text-transform:uppercase;
	background-color: rgba(255,255,255,0.1);
}


.sidebar-sub li {
text-indent: -10px;
}
.sidebar-sub li a {
    display: block;
    text-decoration: none;
    color: #d2d2d2;
	text-transform:lowercase;
	font-weight:400;
	background-color:#065620;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: white;
	font-size:20px;
	
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
		padding-bottom:200px;
		margin-bottom:200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


------footer------------
.footer {
background-color:green;
margin-bottom:50px;
padding-bottom:30px;
}



.pager{margin:20px 0 0}
.pager li>a,
.pager li>span{font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;text-transform:uppercase;font-size:14px;font-weight:800;letter-spacing:1px;padding:15px 25px;background-color:#fff;border-radius:0}
.pager li>a:hover,
.pager li>a:focus{color:#fff;background-color:#0085a1;border:1px solid #0085a1}
.pager .disabled>a,
.pager .disabled>a:hover,
.pager .disabled>a:focus,
.pager .disabled>span{color:gray;background-color:#404040;cursor:not-allowed}

/* ::-moz-selection{color:#fff;text-shadow:none;background:#0085a1}::selection{color:#fff;text-shadow:none;background:#0085a1}img::selection{color:#fff;background:0 0}img::-moz-selection{color:#fff;background:0 0}body{webkit-tap-highlight-color:#0085a1}
 */


